<app-modal-wrapper
  #scanBarcodeModalWrapper
  (hideEvent)="closeEvent()"
  [size]="''"
  title="Scan barcode with camera"
>
  <div class="modal-body">
    <div class="adi-barcode-camera">
    </div>
    <p class="text-center">Code: {{barcode || 'Scanning'}}</p>
  </div>
  <div class="modal-footer justify-content-between">
    <button (click)="hide()" class="btn btn-default" type="button">Close</button>
    <button (click)="save()" class="btn btn-primary" type="button">Save</button>
  </div>
</app-modal-wrapper>
