<label *ngIf="label != ''" for="{{id}}" class="m-0">{{label}} <span *ngIf="required" class="text-danger">*</span></label>
<mat-form-field class="example-chip-list" id="{{id}}">
  <mat-label></mat-label>
  <div class="form-control">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let item of data" [selectable]="selectable"
                [removable]="removable" (removed)="remove(item)">
        {{item}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="{{dataPlaceHolder}}"
             style="height: 40px"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
      >
    </mat-chip-list>
  </div>
</mat-form-field>
