<nav>
  <!-- HEADER -->
  <header id="header" class="header header-default">
    <div class="tf-container ct2">
      <div class="row">
        <div class="col-md-12">
          <div class="sticky-area-wrap">
            <div class="header-ct-left">
              <div id="logo" class="logo">
                <a routerLink="/dashboard">
                  <img class="site-logo" src="assets/img/logo.png" alt="Logo" />
                </a>
              </div>
              <div class="categories">
                <a href="#"><span class="icon-grid"></span>Categories</a>
                <div class="sub-categorie">
                  <ul class="pop-up">
                    <li>
                      <a href="#"><span class="icon-categorie-1"></span>Design & Creative</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">Digital marketing</a></li>
                            <li><a href="find-jobs-list.html">Development & IT</a></li>
                            <li><a href="find-jobs-list.html">Music & Audio</a></li>
                            <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                            <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                            <li><a href="jobs-single.html">adobe XD</a></li>
                            <li><a href="jobs-single.html">Android Developer</a></li>
                            <li><a href="jobs-single.html">Figma</a></li>
                            <li><a href="jobs-single.html">CSS, Html</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-8"></span>Digital Marketing</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Digital marketing</a></li>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                            <li><a href="find-jobs-list.html">Development & IT</a></li>
                            <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">adobe XD</a></li>
                            <li><a href="jobs-single.html">Figma</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-2"></span>Development & IT</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">Development & IT</a></li>
                            <li><a href="find-jobs-list.html">Music & Audio</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                            <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">adobe XD</a></li>
                            <li><a href="jobs-single.html">Android Developer</a></li>
                            <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                            <li><a href="jobs-single.html">CSS, Html</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-3"></span>Music & Audio</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Digital marketing</a></li>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">Android Developer</a></li>
                            <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                            <li><a href="jobs-single.html">adobe XD</a></li>
                            <li><a href="jobs-single.html">Figma</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-4"></span>Finance &
                        Accounting</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Development & IT</a></li>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                            <li><a href="find-jobs-list.html">Music & Audio</a></li>
                            <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">adobe XD</a></li>
                            <li><a href="jobs-single.html">Figma</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-5"></span>Programming & Tech</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">Digital marketing</a></li>
                            <li><a href="find-jobs-list.html">Music & Audio</a></li>
                            <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                            <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                            <li><a href="jobs-single.html">adobe XD</a></li>
                            <li><a href="jobs-single.html">Figma</a></li>
                            <li><a href="jobs-single.html">CSS, Html</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-6"></span>Video & Animation</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">Digital marketing</a></li>
                            <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                            <li><a href="jobs-single.html">CSS, Html</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-7"></span>Writing &
                        translation</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                            <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">Figma</a></li>
                            <li><a href="jobs-single.html">CSS, Html</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-ct-center">
              <div class="nav-wrap">
                <nav id="main-nav" class="main-nav">
                  <ul id="menu-primary-menu" class="menu">
                    <li class="menu-item " [routerLinkActive]="['current-item']" >
                      <a routerLink="/dashboard" class="nav-link" >Trang chủ </a>
                    </li>
                    <li class="menu-item" [routerLinkActive]="['current-item']" >
                      <a routerLink="/job-list" class="nav-link" >
                        Danh sách công việc
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="header-ct-right">
              <div class="header-customize-item help">
                <a href="term-of-use.html"><span class="icon-help-circle"></span></a>
              </div>
              <div class="header-customize-item bell">
                <span class="icon-bell"></span>
                <div class="sub-notification">
                  <div class="sub-notification-heading">
                    <div class="sub-notification-title">Notification</div>
                    <span>5 New</span>
                  </div>
                  <div class="sub-notification-content">
                    <div class="sub-notification-item icon-plus">
                      <div class="time">Last day</div>
                      <div class="content">
                        Your submit job <span class="name">Graphic Design</span> is
                        <span class="status">Success</span>
                      </div>
                    </div>
                    <div class="sub-notification-item icon-plus">
                      <div class="time">5 Day ago</div>
                      <div class="content">
                        A new application is submitted on your job
                        <span class="name">Graphic Design</span> by
                        <span class="name">Maverick Nguyen</span>
                      </div>
                    </div>
                    <div class="sub-notification-item icon-plus">
                      <div class="time">5 Day ago</div>
                      <div class="content">
                        A new application is submitted on your job
                        <span class="name">Graphic Design</span> by
                        <span class="name">Maverick Nguyen</span>
                      </div>
                    </div>
                    <div class="sub-notification-item icon-plus">
                      <div class="time">Last day</div>
                      <div class="content">
                        Your submit job <span class="name">Graphic Design</span> is
                        <span class="status">Success</span>
                      </div>
                    </div>
                    <div class="sub-notification-item icon-plus">
                      <div class="time">5 Day ago</div>
                      <div class="content">
                        A new application is submitted on your job
                        <span class="name">Graphic Design</span> by
                        <span class="name">Maverick Nguyen</span>
                      </div>
                    </div>
                  </div>
                  <div class="sub-notification-button">
                    <a href="#">Read All</a>
                  </div>
                </div>
              </div>
              <div class="header-customize-item account">
                <img src="images/user/avatar/image-01.jpg" alt="" />
                <div class="name">
                  Candidates<span class="icon-keyboard_arrow_down"></span>
                </div>
                <div class="sub-account">
                  <div class="sub-account-item">
                    <a href="dashboard/candidates-dashboard.html"><span class="icon-dashboard"></span>Dashboard</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/candidates-profile-setting.html"><span class="icon-profile"></span> Profile</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/candidates-resumes.html"><span class="icon-resumes"></span> Resumes</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/candidates-my-applied.html"><span class="icon-my-apply"></span> My Applied</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/candidates-save-jobs.html"><span class="icon-work"></span> Saved Jobs</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/candidates-alerts-jobs.html"><span class="icon-bell1"></span> Candidate
                      Alerts</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/candidates-messages.html"><span class="icon-chat"></span> Messages</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/candidates-following-employers.html"><span class="icon-following"></span>
                      Following Employers</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/candidates-meetings.html"><span class="icon-meeting"></span> Meeting</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/candidates-change-passwords.html"><span class="icon-change-passwords"></span>
                      Change
                      Passwords</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/candidates-delete-profile.html"><span class="icon-trash"></span> Delete
                      Profile</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="#"><span class="icon-log-out"></span> Log Out</a>
                  </div>
                </div>
              </div>
              <div class="header-customize-item button">
                <a routerLink="/application">Chờ ứng tuyển</a>
              </div>
            </div>
            <div class="nav-filter">
              <div class="nav-mobile"><span></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- END HEADER -->
</nav>
