<div class="row" style="margin-top: 100px; width: 100%;">
  <div class="col-lg-4 col-sm-3"></div>
  <div class="col-lg-4 col-sm-6">
    <!-- /.login-logo -->
    <div class="card" style="box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);">
      <div class="card-body login-card-body">
        <div style="text-align: center">
          <div class="row mt-4">
            <h5 style="width: 100%; font-weight: 600;">Đổi mật khẩu</h5>
          </div>
          <div class="mb-3" style="margin-top: 30px">
            <label style="float: left">Mật khẩu hiện tại</label>
            <input
              (keydown)="enterEvent($event)"
              [(ngModel)]="changePasswordModel.oldPassword"
              name="oldPassword"
              type="password"
              class="form-control"
              placeholder="Mật khẩu hiện tại"/>
          </div>
          <div class="mb-3">
            <label style="float: left">Mật khẩu mới</label>
            <input
              (keydown)="enterEvent($event)"
              [(ngModel)]="changePasswordModel.newPassword"
              name="newPassword"
              type="password"
              class="form-control"
              placeholder="Mật khẩu mới"
            />
          </div>
          <div class="mb-3">
            <label style="float: left">Nhập lại mật khẩu mới</label>
            <input
              (keydown)="enterEvent($event)"
              [(ngModel)]="changePasswordModel.confirmation"
              name="confirmation"
              type="password"
              class="form-control"
              placeholder="Gõ lại mật khẩu khớp"
            />
          </div>
          <div style="display: flex; justify-content: space-between">
            <div>
              <button (click)="back()" style="min-width: 110px;" class="btn btn-default float-start">
                Trở lại
              </button>
            </div>
            <div>
              <button (click)="changePassword()" style="min-width: 110px;" class="w-md btn btn-primary float-end">
                Đổi mật khẩu
              </button>
            </div>
            <!-- /.col -->
          </div>
        </div>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</div>
